@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  color:"#212529";
  overflow-x: hidden;
}
.service-list-item{
  border-bottom: 2px solid hsla(0,0%,100%,.4) !important;
  border-right: 2px solid hsla(0,0%,100%,.4) !important;
}
.bg-custom-gradient {
  background: linear-gradient(90deg, #51b78d, #198a76);
}
.btn-nav-hover {
  @apply hover:bg-white hover:text-custom-green-dark p-3 rounded transform transition duration-75 delay-75;
}
.nav-link{
  @apply text-white
}
.footer-links{
  @apply p-2 hover:text-custom-green-dark hover:pl-3 transition-all transform duration-150 ease-linear cursor-pointer;
}
